# Code generation
gen/
vue/node_modules
vue/dist
ts-client/
release/

# IDE
.idea
.envrc
.vscode

# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
*.pyc

# Localnet
localnet/*/node?/data/*.db
localnet/*/node?/data/snapshots
localnet/*/node?/data/cs.wal
localnet/*/node?/config/genesis.json
localnet/*/node?/config/addrbook.json
localnet/*/node?/config/write-file-atomic-*
localnet/__pycache__/
localnet/spncs.yaml
localnet/cs.yaml
localnet/vs.yaml

# Generate report files
*.out
*.test
cover.html

# Frontend
ignite-ui

# Build
vendor
build
tools/bin/*
examples/build/*
docs/_build
docs/tutorial
docs/node_modules
docs/modules
dist
tools-stamp
proto-tools-stamp
buf-stamp
*.dot
*.ign

# Data - ideally these don't exist
app/data/*
x/farming/client/lcd/keys/*
mytestnet

# Testing
coverage.out
profile.out
sim_log_file

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.vscode/
.idea/
*.iml

# Localnet
data/
